---
export interface Props {
  image: string;
  title: string;
  desc: string;
  body: string;
  size: string;
}

const { image, title, body, desc, size } = Astro.props;
---

<article class="c-block">
  <div class="c-block__thumbnail">
    <img src={'./assets/images/'+image} alt="" class="c-block__image">
  </div>
  <div class="c-block__text">
    {
      size == 'large'
        ?<h3 class="c-block__title c-block__title--large">{title}</h3>
        :<h3 class="c-block__title">{title}</h3>
    }
    <p class="c-block__desc">{desc}</p>
    {body &&<span class="c-block__more js-more">もっと見る</span>}
  </div>

  {body &&
    <div class="c-block__body js-body" set:html={ body !='slot' && body }>
      <slot />
    </div>
  }
</article>

<script>
  const more = document.querySelectorAll('.js-more');
  const body = document.querySelectorAll('.js-body');
  more.forEach((m, i)=> {
    m.addEventListener('click', ()=>{
      if(body[i].classList.contains('is-show')) {
        m.innerHTML = 'もっと見る';
        body[i].classList.remove('is-show');
      } else {
        m.innerHTML = '閉じる';
        body[i].classList.add('is-show');
      }
    });
  });
</script>

<style lang="scss">
  .c-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-column-gap: 32px;
    grid-row-gap: 16px;
    padding: 24px;
    
    border: 1px solid #ccc;
    border-radius: 16px;

    &:not(:last-of-type) {
      //border-bottom: 1px solid #ccc;
    }

    &__thumbnail {
      background-color: #ccc;
      width: 256px;
      height: 144px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__image {
      display: block;
      width: 48px;
      height: 48px;
    }

    &__text {
      
    }

    &__title {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.05em;
      margin-bottom: 8px;
    }

    &__title--large {
      width: fit-content;
      font-size: 22px;
      font-weight: 700;
      border-bottom: 1px solid var(--color-text);
    }

    &__desc {
      font-size: 16px;
      color: #333;
    }

    &__more {
      margin-top: 1em;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-text);
      height: 32px;
      width: fit-content;
      margin-right: auto;
      margin-left: 0;
      padding: 0 1em;
      border-radius: 16px;
      align-items: center;
      font-size: 14px;
      color: #fff;
      cursor: pointer;

      &::after {
        content: '';
        width: 8px;
        height: 8px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(45deg);
        margin-left: 0.4em;
      }
    }

    &__body {
      grid-column: 1/3;
      width: 100%;
      display: none;
      font-size: 0.8em;
      color: #333;
      line-height: 1.4;
      letter-spacing: 0.1em;
      font-size: 16px;
    }
    &__body.is-show {
      display: block;
    }
  }
</style>