<div class="c-splash">

</div>

<style lang="scss">
  @use "/src/scss/functions/" as *;
  
  .c-splash {
    position: fixed;
    inset: 0;
    z-index: 1024;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #efefef;
  }

  @keyframes splashLogo {
    0% {
      opacity: 0;
      transform: translateY(20%);
    }
    20% {
      opacity: 1;
      transform: translateY(0);
    }
    80% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-20%);
    }
  }
</style>