@*
%*
*.lib
bk*
Thumbs.db
Desktop.ini
.DS_Strore
.DS_Store
._*
.svn
_notes
.BridgeSort
.BridgeLabelsAndRatings
*.log
*コピー*
*BK*
*.bak
.idea
uploadfiles/
templates_c/
uploads/
log/
node_modules/
storage/
!.gitkeep
.env
.htaccess
.htpasswd