---
import '../scss/foundation/_reset.scss';
import '../scss/foundation/_base.scss';
import { ViewTransitions } from "astro:transitions";

export interface Props {
	title: string;
	thumbnail: string;
}

const { title, thumbnail } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta property="og:image" content={"/assets/sprite/" + thumbnail + ".png"} />
		<ViewTransitions />
	</head>
	<body>
		<slot />
	</body>
</html>